body{
   background-color: lightgrey;
}
.container {
   display: flex;
   flex-direction: column;
   background-color: crimson; 
   text-align: center;
}
.response{
    color: white;
}
h1{
text-decoration: underline;
}
footer
{
   color: black;
   text-align: center;
}